$bp-medium: 56.25em;
$bp-largest: 75em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-largest) {
    font-size: 55%;
  }
}

body {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
  min-height: 100vh;
  background: linear-gradient(315deg, (#485461 0%, #28313b 74%));
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  .fa-circle-notch {
    height: 6rem;
    width: 6rem;
    animation: rotate 2s infinite linear;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
