.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    width: 49.8rem;
    background-color: white;
    border-radius: 2rem;
    color: black;
    position: relative;

    @media only screen and (max-width: 30em) {
      width: 80vw;
    }
  }

  &__close {
    color: #fed049;
    font-size: 2rem;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    cursor: pointer;
    @media only screen and (max-width: 30em) {
      font-size: 3rem;
    }
  }

  &__img {
    height: 28rem;
    border-radius: 2rem 2rem 0 0;
    @media only screen and (max-width: 30em) {
      height: 45vw;
    }
  }

  &__info {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;
  }

  &__overview {
    margin-top: 1rem;
    text-align: justify;
  }

  &__genres {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
    text-align: center;

    div {
      margin: 0.5rem;
      background: #28313b;
      border-radius: 1.5rem;
      color: #fff;
      padding: 0.2rem 1rem 0.2rem 1rem;
    }
  }
}
