.pagination {
  margin: 0 2rem 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas:"prev next";

  &__btn {
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    background-color: #242a31;
    color: white;
    transition: all 0.2s;

    &:hover {
      cursor: pointer;
      transform: translateY(-0.5rem);
    }

    &--prev {
      justify-self: start;
      grid-area: prev;
    }

    &--next {
      justify-self: end;
      grid-area: next;
    }
  }
}
