* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #fff;
}

.container {
  display: grid;
  grid-template-rows: 15vh 1fr;
  min-height: 100vh;
  background: linear-gradient(315deg, (#485461 0%, #28313b 74%));
}
