.header {
  display: flex;
  align-items: center;
  height: 15vh;

  &__logo {
    height: 12rem;
  }
}

.search {
  background-color:#2B2B37;
  border-radius: 1.5rem;
  padding-left: 3rem;
  transition: all 0.3s;
  flex-grow: 1;
  margin: 0 10rem;
  color: #fff;
  border: 2px solid #fff;
  transition: all .2s;

  &:hover {
    transform: translateY(-0.2rem);
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    height: 5rem;
    padding: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }

}