.header {
  display: flex;
  align-items: center;

  &__logo {
    height: 12rem;
  }
}

.search {
  background-color: #242a31;
  border-radius: 1.5rem;
  padding: 0 3rem 0 3rem;
  transition: all 0.3s;
  flex-grow: 1;
  margin: 0 10rem;
  color: #fff;
  display: flex;
  align-items: center;

  &__icon {
    font-size: 2rem;
  }

  &__field {
    border: none;
    background: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.7rem;
    height: 5rem;
    padding: 2rem;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
