.movies {
  height: 85vh;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 3rem;
}

.movie {
  background-color: #242a31;
  border-radius: 2rem;
}